<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>


<!-- Presentación del Programa -->
<section class="about-section">
    <div class="about-container">
        <div class="about-image">
            <img src="assets/MI_hd.png" alt="Descripción de la imagen">
        </div>
        <div class="about-text">
            <h2>Presentación del Programa</h2>
            <p id="t1">La maestría en ingeniería (MI), está integrada por un grupo diverso de investigadores que llevan
                a
                cabo proyectos científicos y tecnológicos en tres areas tecno-cientificas:</p>
            <p id="t2">• Sistemas Agroalimentarios y Nutrición</p>
            <p id="t3">• Salud y Ambiente</p>
            <p id="t4" class="espaciado">• Cambio Climático y Biodiversidad</p>

            <p id="t5">El programa de la maestria en ingenieria, impacta significativamente en el desarrollo económico
                nacional a través de la formación especializada de recursos humanos capaces de resolver problemas
                concretos en los PRONACES, impulsando así la productividad y competitividad local. Su efecto
                positivo es notable en la agroindustria, agricultura, ganadería, sector forestal y minería, mediante
                la aplicación de tecnologías avanzadas que incrementan la calidad, rentabilidad y sostenibilidad.
                Como agente de cambio, propone nuevos encuadres interdisciplinarios e interinstitucionales que
                aseguran continuidad y profundidad en la investigación aplicada, integrando enfoques tecnológicos y
                biológicos orientados hacia soluciones sustentables adaptadas a necesidades regionales específicas.
                Ademas, el programa de la MI propone enfoques innovadores como el procesamiento digital de imágenes
                y señales, Inteligencia Artificial, agricultura de precisión, y tecnologías no invasivas y
                respetuosas con el medio ambiente en la aplicación de proyectos de investigación. Las estrategias
                del programa de la MI incluyen la creación de modelos predictivos, aplicación de tecnologías
                digitales avanzadas, desarrollo de tecnologías emergentes en instrumentación y automatización para
                reducir costos y mejorar la competitividad en sector agroindustrial. Además, fomenta la vinculación
                academia-empresa mediante convenios estratégicos, promoviendo la aplicación práctica y efectiva de
                soluciones tecnológicas.</p>
            <p id="t6">La coexistencia de las líneas de investigación en ingeniería de sistemas y en desarrollo de
                tecnología e innovación dentro de la MI responde a la necesidad actual de abordar integralmente los
                desafíos tecnológicos, tanto desde una perspectiva estructural como desde una visión estratégica de
                innovación.</p>
            <p id="t7">La linea de ingenieria de sistemas es fundamental para analizar, diseñar e integrar soluciones
                tecnológicas complejas mediante un enfoque sistémico y multidisciplinario. Actualmente, el avance
                tecnológico demanda profesionales capaces de entender no solo componentes aislados, sino la
                interacción eficiente entre estos para resolver problemas complejos en el sector agroindustrial.</p>
            <p id="t8">Complementando la visión sistémica, esta línea fomenta la creación de conocimiento original y la
                aplicación práctica de innovaciones tecnológicas. El contexto global actual se caracteriza por un
                ritmo acelerado de cambio, donde la ventaja competitiva reside precisamente en la capacidad de
                innovación tecnológica en el sector agropecuario.</p>
            <p id="t9">En este contexto, el programa de maestría constituye una alternativa interesante para los
                egresados
                de licenciaturas relacionadas, ya que les brinda competencias que facilitan su integración en los
                ámbitos laboral, científico o educativo.</p>
        </div>
    </div>
</section>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>
