
<!-- Footer Gobierno -->
<footer class="footer-gobierno">
    <div class="footer-containerGobierno">
        <div class="footer-sectionGobierno">
            <a href="https://www.gob.mx/" class="footer-link" target="_blank">
                <img src="assets/GobiernoMexico.svg" alt="Descripción de la imagen" class="footer-imagen">
            </a>
        </div>
        <div class="footer-sectionGobierno">
            <h3>Enlaces</h3>
            <p><a href="https://datos.gob.mx/" class="footer-link" target="_blank">Datos</a></p>
            <p><a href="https://failover.www.gob.mx/mantenimiento.html" class="footer-link"
                    target="_blank">Publicaciones</a></p>
            <p><a href="https://consultapublicamx.plataformadetransparencia.org.mx/" class="footer-link"
                    target="_blank">Portal de Obligaciones de Transparencia</a></p>
            <p><a href="https://infomex.org.mx/gobiernofederal/home.action/" class="footer-link" target="_blank">PNT</a>
            </p>
            <p><a href="https://home.inai.org.mx/" class="footer-link" target="_blank">INAI</a></p>
            <p><a href="https://alertadores.buengobierno.gob.mx/" class="footer-link" target="_blank">Alerta</a></p>
            <p><a href="https://sidec.buengobierno.gob.mx/#!/" class="footer-link" target="_blank">Denuncia</a></p>
        </div>
        <div class="footer-sectionGobierno">
            <h3>¿Qué es gob.mx?</h3>
            <p><a href="https://www.gob.mx/que-es-gobmx" class="footer-link" target="_blank">Es el portal único de
                    trámites, información y participación ciudadana.</a></p>
            <p><a href="https://www.gob.mx/amlo" class="footer-link" target="_blank">Administraciones anteriores</a>
            </p>
            <p><a href="https://www.gob.mx/accesibilidad" class="footer-link" target="_blank">Declaración de
                    Accesibilidad</a></p>
            <p><a href="https://www.gob.mx/aviso_de_privacidad" class="footer-link" target="_blank">Aviso de
                    privacidad</a></p>
            <p><a href="https://www.gob.mx/privacidadsimplificado" class="footer-link" target="_blank">Aviso de
                    privacidad simplificado</a></p>
            <p><a href="https://www.gob.mx/terminos" class="footer-link" target="_blank">Términos y Condiciones</a>
            </p>
            <p><a href="https://www.gob.mx/terminos#medidas-seguridad-informacion" class="footer-link"
                    target="_blank">Política de seguridad</a></p>
            <p><a href="http://www.ordenjuridico.gob.mx/" class="footer-link" target="_blank">Marco jurídico</a></p>
            <p><a href="https://www.gob.mx/sitemap" class="footer-link" target="_blank">Mapa de sitio</a></p>
        </div>
        <div class="footer-sectionGobierno">
            <h3>Síguenos</h3>
            <!-- Sección de Redes Sociales -->
            <p>
                <a href="https://www.facebook.com/gobmexico/" target="_blank" class="footer-link">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://x.com/GobiernoMX" target="_blank" class="footer-link">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/@gobiernodemexico" target="_blank" class="footer-link">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://www.instagram.com/gobmexico/" target="_blank" class="footer-link">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </p>
            <p><a href="https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54"
                    class="footer-link" target="_blank">Denuncia contra servidores públicos</a></p>
        </div>
    </div>
</footer>

<!-- Imagen debajo del Footer -->
<div class="imagen-debajo-footer">
    <img src="assets/footer.png" alt="Imagen decorativa debajo del footer">
</div>
