
/* Footer Gobierno */

.footer-gobierno {
    background-color: #611232;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}

.footer-containerGobierno {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

.footer-sectionGobierno {
    flex: 1;
    min-width: 250px;
    padding: 10px;
    text-align: left;
}

.footer-sectionGobierno img.footer-imagen {
    margin-top: 15px;
    width: 70%;
    height: auto;
    display: block;
    margin-left: 0%;
}

.footer-sectionGobierno h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: left;
}

.footer-sectionGobierno p {
    margin-bottom: 0px;
    text-align: left;
    line-height: 1.2;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    color: #ebdaa9;
    text-decoration: none;
}

.footer-sectionGobierno .fa-brands {
    font-size: 25px;
    margin: 0 15px;
    transition: transform 0.3s ease;
    margin-bottom: 50px;
}

.footer-sectionGobierno .fa-brands:hover {
    transform: scale(1.2);
}

.imagen-debajo-footer {
    text-align: center;
    margin: 0;
    padding: 0;
}

.imagen-debajo-footer img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .footer-containerGobierno {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-sectionGobierno {
        width: 100%;
        text-align: center;
    }

    .footer-sectionGobierno h3,
    .footer-sectionGobierno p {
        text-align: center;
    }

    .footer-sectionGobierno img.footer-imagen {
        margin: 0 auto;
        display: block;
    }
}
