<nav class="navbarMaestria">
    <li><a href="index.html" class="linkHome">
            <i class="fa-solid fa-house"></i>
        </a></li>

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>

    <ul class="nav-links">
        <li class="dropdown">
            <a href="#">¿Quiénes somos? <span class="dropdown-arrow"></span></a>
            <ul class="dropdown-content">
                <li><a href="/presentacion">Presentación del Programa</a></li>
                <li><a href="/objetivos">Objetivos Generales y Específicos</a></li>
                <li><a href="/misionVision">Misión y Visión</a></li>
                <li><a href="/estadoArte">Estado del Arte</a></li>
                <li><a href="/infraestructura">Infraestructura Científica</a></li>
                <li><a href="/nucleoBasico">Núcleo Académico Básico</a></li>
            </ul>
        </li>
        <li><a href="/lgyac">LGyAC</a></li>
        <li class="dropdown">
            <a href="#">Plan de Estudios <span class="dropdown-arrow"></span></a>
            <ul class="dropdown-content">
                <li><a href="/localizacion">Localización del Programa</a></li>
                <li><a href="/sintesisPlan">Síntesis del Plan de Estudios</a></li>
                <li><a href="/ingresoEgreso">Perfil de Ingreso y Egreso</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Procesos Administrativos <span class="dropdown-arrow"></span></a>
            <ul class="dropdown-content">
                <li><a href="/requisitosIngreso">Requisitos y antecedentes académicos de ingreso de los
                        candidatos</a></li>
                <li><a href="/requisitosPermanencia">Requisitos de la permanencia en el programa</a></li>
                <li><a href="/requisitosAcademico">Requisitos para la obtención del grado académico</a></li>
            </ul>
        </li>
        <li><a href="/productividad">Productividad</a></li>
        <li><a href="/egresados">Egresados</a></li>
        <li><a href="/cohorte">Cohorte Generacional</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
