<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>


<!-- Misión y Visión -->
<section class="about-section">
    <div class="about-container">
        <div class="about-image">
            <img src="assets/MI_hd.png" alt="Descripción de la imagen">
        </div>
        <div class="about-text">
            <!-- Misión y Visión -->
            <h2>Misión y Visión</h2>
            <h3>Misión</h3>
            <p id="mision">Formar profesionales altamente capacitados en ingeniería, con habilidades para diseñar,
                desarrollar e implementar soluciones innovadoras y sustentables en el ámbito agroindustrial. A
                través de una formación integral y multidisciplinaria, buscamos generar conocimiento y tecnología
                que impacten de manera positiva en la sociedad, impulsando la eficiencia productiva, la
                sustentabilidad y la resolución de problemáticas regionales y nacionales. Además, promovemos la
                gestión y desarrollo de proyectos de ingeniería que contribuyan al progreso socioeconómico, la
                innovación en los sectores estratégicos de la región y el respeto al medio ambiente.
            </p>
            <h3>Visión</h3>
            <p id="vision">Ser un programa de maestría de referencia a nivel nacional e internacional en la
                formación de especialistas en ingeniería, reconocidos por su capacidad innovadora, su compromiso con
                el desarrollo sustentable y su impacto en la mejora de los procesos agroindustriales y
                biosistémicos. Aspiramos a consolidarnos como un centro líder en investigación y vinculación con el
                sector productivo, promoviendo el avance científico y tecnológico en beneficio de la sociedad.
                Asimismo, buscamos fortalecer la gestión de la innovación, la sustentabilidad y el desarrollo de
                comunidades, estableciendo estrategias que favorezcan el crecimiento económico y social en la
                región.
            </p>
        </div>
    </div>
</section>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>
