
<!-- Navnar Gobierno -->
<nav class="navbarGobierno">
    <a href="https://www.gob.mx/" class="logo-link" target="_blank" rel="noopener noreferrer">
        <img src="assets/GobiernoMexico.svg" alt="Logo" class="logo" />
    </a>

    <input type="checkbox" id="menu-toggleGobierno" >
    <label for="menu-toggleGobierno" class="menu-iconGobierno">
        <div class="lineGobierno"></div>
        <div class="lineGobierno"></div>
        <div class="lineGobierno"></div>
    </label>

    <ul class="nav-linksGobierno">
        <li>
            <a href="https://www.gob.mx/tramites/" target="_blank" rel="noopener noreferrer">Trámites</a>
        </li>
        <li>
            <a href="https://www.gob.mx/gobierno" target="_blank" rel="noopener noreferrer">Gobierno</a>
        </li>
        <li>
            <a href="https://www.gob.mx/busqueda" class="link" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-magnifying-glass" style="font-size: 15px;"></i>
            </a>
        </li>
    </ul>
</nav>