
/* Estilos para Egresados */

.tabla-imagen {
    width: 100%;
    max-width: 1365px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: -20px;
}

.tabla-imagen img {
    margin-top: 30px;
    width: 100%;
    height: auto;
    max-height: 600px;
    display: block;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 50px;
    background-color: #fff;
}

.about-text {
    margin: 0 auto; 
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 90%;
    max-width: 1000px; 
    text-align: center; 
    padding: 20px; 
}

.about-text h2 {
    text-align: center;
    font-size: 2rem;
    color: #000;
    margin-bottom: 10px;
}

.about-text h4 {
    text-align: center;
    color: #000;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 5px;
}

.about-text p {
    font-size: 1.3rem;
    color: #000;
    line-height: 1.4; 
    text-align: justify; 
    margin-bottom: 10px; 
}

/* Botón Solicitud Egresados */
.button-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.redirect-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #db1e24;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.redirect-button:hover {
    background-color: #a4161a; 
}

/* -------------------- */
/* Estilos Responsivos */
/* -------------------- */

@media screen and (max-width: 768px) {
    .about-section {
        padding: 20px; 
        flex-direction: column; 
    }

    .about-text {
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px;
    }

    .about-text h2 {
        font-size: 1.8rem; 
    }

    .about-text h4 {
        font-size: 1.1rem; 
    }

    .about-text p {
        font-size: 1.1rem; 
    }
}

/* Media Query para dispositivos muy pequeños (móviles) */
@media screen and (max-width: 480px) {
    .about-text h2 {
        font-size: 1.6rem; 
    }

    .about-text h4 {
        font-size: 1rem; 
    }

    .about-text p {
        font-size: 1rem; 
    }
}
