<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>

<!-- Núcleo Académico Básico -->
<div class="perfil-wrapper">
    <div class="about-image">
        <img src="assets/MI_hd.png" alt="Descripción de la imagen" />
    </div>
    <div class="perfil-container">
        <h2>Núcleo Académico Básico</h2>
        <table id="tabla1" class="perfil">
            <td class="imagen">
                <img src="assets/Ivan.jpg" alt="Foto de perfil" />
            </td>
            <td class="datos">
                <h3>Dr Iván Gonzalez Lazalde</h3>
                <strong>Grado Máximo Obtenido:</strong> Doctorado<br />
                <strong>Especialidad:</strong> Desarrollo Empresarial<br />
                <strong>Cédula Profesional:</strong> <br />

                <!-- DETALLES OCULTOS -->
                <div class="detalles" [class.oculto]="ocultos[0]">
                    <strong>Nivel SNII:</strong> SNII 1<br />
                    <strong>Cargo:</strong> Profesor Investigador<br />
                    <strong>Unidad de Adscripción:</strong> Ingeniería Industrial<br />
                    <strong>Correo Electrónico:</strong> igonzalez&#64;itdurango.edu.mx<br />
                    <strong>Semblanza:</strong> Profesor con reconocimiento al perfil deseable desde 2007...<br />
                    <strong>Líneas de Investigación:</strong> Competitividad, sustentabilidad...<br />
                    <strong>CVU:</strong><br>
                    <a href="https://www.researchgate.net/profile/Ivan-Lazalde-2?ev=hdr_xprf" target="_blank"
                        rel="noopener noreferrer">
                        https://www.researchgate.net/profile/Ivan-Lazalde-2?ev=hdr_xprf
                    </a>
                    <br>

                    <a href="https://scholar.google.com.mx/citations?user=aj286qwAAAAJ&hl=es" target="_blank"
                        rel="noopener noreferrer">
                        https://scholar.google.com.mx/citations?user=aj286qwAAAAJ&hl=es
                    </a>
                    <br>
                </div>

                <!-- BOTÓN -->
                <span class="toggle-btn" (click)="toggleDetalles(0)">
                    {{ ocultos[0] ? 'Ver más...' : 'Ver menos...' }}
                </span>
            </td>

            <tbody></tbody>

            <div class="separator"></div>
        </table>

        <table id="tabla1" class="perfil">
            <td class="imagen">
                <img src="assets/NormaAlicia.jpg" alt="Foto de perfil" />
            </td>
            <td class="datos">
                <h3>Dra. Norma Alicia García Vidaña</h3>
                <strong>Grado Máximo Obtenido:</strong> Doctorado<br />
                <strong>Especialidad:</strong> Tecnologías de la Información<br />
                <strong>Cédula Profesional:</strong> 14670965<br />

                <!-- DETALLES OCULTOS -->
                <div class="detalles" [class.oculto]="ocultos[1]">
                    <strong>Nivel SNII:</strong><br />
                    <strong>Cargo:</strong> Profesor Investigador<br />
                    <strong>Unidad de Adscripción:</strong> Departamento de Sistemas y Computación<br />
                    <strong>Correo Electrónico:</strong> norma.garcia&#64;itdurango.edu.mx<br />
                    <strong>Semblanza:</strong> Docente del Tecnológico Nacional de México...<br />
                    <strong>Líneas de Investigación:</strong> Ingeniería de Sistemas<br />
                    <strong>CVU:</strong><br>
                    <a href="https://scholar.google.com/citations?user=zjPMTe4AAAAJ&hl=es" target="_blank"
                        rel="noopener noreferrer">
                        https://scholar.google.com/citations?user=zjPMTe4AAAAJ&hl=es
                    </a>
                </div>

                <!-- BOTÓN -->
                <span class="toggle-btn" (click)="toggleDetalles(1)">
                    {{ ocultos[1] ? 'Ver más...' : 'Ver menos...' }}
                </span>
            </td>

            <tbody></tbody>

            <div class="separator"></div>
        </table>
    </div>
</div>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>