<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>

<section class="about-section">
    <div class="about-container">
        <div class="about-image">
            <img src="assets/MI_hd.png" alt="Descripción de la imagen">
        </div>

        <div class="about-text">
            <h2>Productividad</h2>

            <!-- ===================================================== -->
            <!-- 1. CUERPOS ACADÉMICOS -->
            <!-- ===================================================== -->
            <h3>Cuerpos Académicos</h3>

            <table class="study-plan-table">
                <thead>
                    <tr>
                        <th>Cuerpos Académicos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cuerpo of cuerposAcademicos">
                        <td>
                            <strong>{{ cuerpo.nomProy }}</strong><br><br>

                            <span *ngIf="cuerpo.integrantes?.length">
                                Integrantes:<br>
                                <div *ngFor="let integrante of cuerpo.integrantes">
                                    {{ integrante.nombre }}
                                </div>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>


            <!-- ===================================================== -->
            <!-- 2. SISTEMA NACIONAL -->
            <!-- ===================================================== -->
            <h3>Sistema Nacional de Investigadoras e Investigadores</h3>

            <table class="study-plan-table snii-table">
                <thead>
                    <tr>
                        <th rowspan="2">No. de SNII</th>
                        <th colspan="2">Nivel</th>
                    </tr>
                    <tr>
                        <th>C</th>
                        <th>1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let snii of sistemaNacional">
                        <td>{{ snii.numProfesores }}</td>
                        <td>{{ snii.nivelC }}</td>
                        <td>{{ snii.nivel1 }}</td>
                    </tr>
                </tbody>
            </table>


            <!-- ===================================================== -->
            <!-- 3. PERFIL DESEABLE -->
            <!-- ===================================================== -->
            <h3>Perfil Deseable</h3>

            <table class="study-plan-table">
                <thead>
                    <tr>
                        <th>No. de Profesores</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let perfil of perfilDeseable">
                        <td>{{ perfil.numProfesores }}</td>
                    </tr>
                </tbody>
            </table>


            <!-- ===================================================== -->
            <!-- 4. OTROS RECONOCIMIENTOS -->
            <!-- ===================================================== -->
            <h3>Otros Reconocimientos</h3>

            <table class="study-plan-table">
                <thead>
                    <tr>
                        <th>Profesor</th>
                        <th>Tipo de Reconocimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rec of otrosReconocimientos">
                        <td>{{ rec.profesor }}</td>
                        <td>{{ rec.tipoRec }}</td>
                    </tr>
                </tbody>
            </table>


            <!-- ===================================================== -->
            <!-- 5. CONVENIOS FIRMADOS -->
            <!-- ===================================================== -->
            <h3>Convenios Firmados</h3>

            <table class="study-plan-table">
                <thead>
                    <tr>
                        <th>Empresa / Productor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let conv of conveniosFirmados">
                        <td>{{ conv.empresaProd }}</td>
                    </tr>
                </tbody>
            </table>


            <!-- ===================================================== -->
            <!-- 6. PARTICIPACIÓN EN REDES -->
            <!-- ===================================================== -->
            <h3>Participación en redes de investigación científica y tecnológica</h3>

            <table class="study-plan-table">
                <thead>
                    <tr>
                        <th>Nombre de la Red</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let red of participacionRedes">
                        <td>• {{ red.nombre }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>


<!-- LGACs PRODUCTIVIDAD-->
<ng-container *ngFor="let lgac of lgacs">

    <!-- ================= ARTÍCULOS ================= -->
    <section class="articulos-container">
        <h2 class="h2Productividad">{{ lgac.titulo }}</h2>
        <h2 class="titulo-articulos">Artículos</h2>

        <table class="articulos-tabla">
            <tbody>

                <ng-container *ngFor="let art of lgac.articulos">

                    <tr class="fila-articulo">
                        <td (click)="abrirUrl(art.url)">
                            <strong class="titulo-articulo">{{ art.titulo }}</strong><br>
                            <span class="descripcion-articulo">• {{ art.descripcion }}</span>
                        </td>
                    </tr>

                    <tr class="espacio separator"></tr>

                </ng-container>

            </tbody>
        </table>
    </section>

    <!-- ================= CAPÍTULOS ================= -->
    <section class="capitulos-container">
        <h2 class="titulo-capitulos2">Capítulos</h2>

        <table class="capitulos-tabla">
            <tbody>

                <ng-container *ngFor="let cap of lgac.capitulos">

                    <tr class="fila-capitulos" (click)="abrirUrl(cap.url)">
                        <td>
                            <strong class="titulo-capitulos">{{ cap.titulo }}</strong><br>
                            <span class="descripcion-capitulos">• {{ cap.descripcion }}</span>
                        </td>
                    </tr>

                    <tr class="espacio separator"></tr>

                </ng-container>

            </tbody>
        </table>
    </section>

    <!-- ================= PROYECTOS ================= -->
    <section class="proyectos-container">
        <h2 class="titulo-proyectos2">Proyectos de Investigación</h2>

        <table class="proyectos-tabla">
            <tbody>

                <ng-container *ngFor="let proy of lgac.proyectos">

                    <tr class="fila-proyectos" (click)="abrirUrl(proy.url)">
                        <td>
                            <strong class="titulo-proyectos">{{ proy.titulo }}</strong><br>
                            <span class="descripcion-proyectos">• {{ proy.descripcion }}</span>
                        </td>
                    </tr>

                    <tr class="espacio separator"></tr>

                </ng-container>

            </tbody>
        </table>
    </section>
</ng-container>


<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>