<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>


<!-- Productividad Tablas -->
<section class="about-section">
    <div class="about-container">
        <div class="about-image">
            <img src="assets/MI_hd.png" alt="Descripción de la imagen">
        </div>
        <div class="about-text">
            <h2>Productividad</h2>
            <h3>Cuerpos Académicos</h3>

            <!-- Tabla Cuerpos Académicos -->
            <table id="tabla1" class="study-plan-table">
                <thead>
                    <tr>
                        <th>Cuerpos Académicos</th>
                    </tr>
                    <tr>
                        <td>ITDUR-CA-2 Procesamiento de Señales Orientado a Sistemas Biológicas (en formación)<br>
                            Integrantes:<br>
                            Ruben Guerrero Rivera (Presidente)<br>
                            Eduardo Gamero Inda<br>
                            José Antonio Martínez Rivera<br>
                            Francisco Javier Godínez García<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ITDUR-CA-12 Administración, Desarrollo Humano y Docencia en las Organizaciones.<br>
                            Integrantes:<br>
                            Mayela Lechuga Nevárez<br>
                        </td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- Tabla Sistema Nacional de Investigadoras e Investigadores -->
            <h3>Sistema Nacional de Investigadoras e Investigadores</h3>
            <table id="tabla2" class="study-plan-table snii-table">
                <thead>
                    <tr>
                        <th rowspan="2">No. de SNII</th>
                        <th colspan="2">NIVEL</th>
                    </tr>
                    <tr>
                        <th>C</th>
                        <th>1</th>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- Tabla Perfil Deseable -->
            <h3>Perfil Deseable</h3>
            <table id="tabla3" class="study-plan-table">
                <thead>
                    <tr>
                        <th>No. de Profesores</th>
                    </tr>
                    <tr>
                        <td>14</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- Tabla Otros reconocimientos -->
            <h3>Otros reconocimientos</h3>
            <table id="tabla4" class="study-plan-table">
                <thead>
                    <tr>
                        <th>Profesor</th>
                        <th>Tipo de Reconocimiento</th>
                    </tr>
                    <tr>
                        <td>José Antonio Martínez Rivera</td>
                        <td>Investigador I del Sistema Estatal de Investigadores</td>
                    </tr>
                    <tr>
                        <td>Josué Ortiz Medina</td>
                        <td>Reconocimiento a mejor artículo de investigación, presentado en conferencia internacional
                            IEEE ICSIMA 2024, en indonesia (IEEE International Conference On Smart Instrumentation,
                            Measurement And Application)</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- Tabla Convenios Firmados -->
            <h3>Convenios Firmados</h3>
            <table id="tabla5" class="study-plan-table">
                <thead>
                    <tr>
                        <th>Empresa/Productor</th>
                    </tr>
                    <tr>
                        <td>3</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- Tabla Participación en redes de investigación científica y tecnológica -->
            <h3>Participación en redes de investigación científica y tecnológica</h3>
            <table id="tabla6" class="study-plan-table">
                <thead>
                    <tr>
                        <th>Nombre de la Red</th>
                    </tr>
                    <tr>
                        <td>Red Competitividad y Desarrollo Regional (COCYTED)</td>
                    </tr>
                    <tr>
                        <td>REDIBAI (Red Iberoamericana de Academias de Investigación)</td>
                    </tr>
                    <tr>
                        <td>ReDIE (Red Durango Investigadores Educativos)</td>
                    </tr>
                    <tr>
                        <td>Red Noreste Sinaloa-Sonora-Durango</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</section>


<!-- Tabla LGAC: Ingeniería en Sistemas (ARTICULOS) -->
<section class="articulos-container">
    <h2 class="h2Productividad">LGAC: Ingeniería en Sistemas</h2>
    <h2 class="titulo-articulos">Artículos</h2>

    <table id="tablaArticulos" class="articulos-tabla">
        <tbody>
            <tr class="fila-articulo" onclick="window.open('${urlArticulo}', '_blank')">
                <td>
                    <strong class="titulo-articulo">N-doping y vacantes de carbono en un fotoánodo de 3C-SiC para la
                        oxidación eficiente del agua.
                    </strong><br>
                    <span class="descripcion-articulo">• Wu, L., Guan, S., Zhou, B., Guo, S., Wang, J., Wu, L., Melvin,
                        G. J. H., Ortiz-Medina, J., Wang, M., Ogata, H., Tanemura, M., Kim, Y. A., Terrones, M., Endo,
                        M., & Wang, Z. (2024). Plasma-induced N doping and carbon vacancies in a self-supporting 3C-SiC
                        photoanode for efficient photoelectrochemical water oxidation. Journal of Materials Chemistry A,
                        12.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>

            <tr class="fila-articulo" onclick="window.open('${urlArticulo}', '_blank')">
                <td>
                    <strong class="titulo-articulo">Machine-Learning driven STM images prediction of doped/defective
                        Graphene.
                    </strong><br>
                    <span class="descripcion-articulo">• Guerrero-Rivera, R., Godínez-Garcia, F. J., Hayashi, T., Wang,
                        Z., & Ortiz-Medina, J. (2024). Machine-learning driven STM images prediction of doped/defective
                        graphene: Towards optimized tools for 2D nanomaterials characterization. Computational Materials
                        Science, 242, 113076.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>

            <tr class="fila-articulo" onclick="window.open('${urlArticulo}', '_blank')">
                <td>
                    <strong class="titulo-articulo">Raman spectroscopy for carbon nanotubes-based flexible sensor
                        instrumentation: a proof of concept
                    </strong><br>
                    <span class="descripcion-articulo">• Carrillo-Velázquez, M., Godínez-García, F. J., Gamero-Inda, E.,
                        Villanueva-Fierro, I., Gómez-Elizalde, J. A., & Ortiz-Medina, J. (2024). Raman spectroscopy for
                        carbon nanotubes-based flexible sensor instrumentation: A proof of concept. 2024 IEEE 10th
                        International Conference on Smart Instrumentation, Measurement and Applications (ICSIMA).</span>
                </td>
            </tr>

            <tr class="fila-articulo" onclick="window.open('${urlArticulo}', '_blank')">
                <td>
                    <strong class="titulo-articulo">Estimación del grosor del tallo de la cebolla en plantaciones
                        mediante visión por ordenador
                    </strong><br>
                    <span class="descripcion-articulo">• Renteria-Soto, J. I., Ayala-Verdín, P., Martínez-Rivera, J. A.,
                        García-Vidaña, N. A., & Guerrero-Rivera, R. (2024). Estimación del grosor del tallo de la
                        cebolla en plantaciones mediante visión por ordenador. Revista del Centro de Graduados e
                        Investigación, Instituto Tecnológico de Mérida, 39(107). ISSN 0185-6294.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>
        </tbody>
    </table>
</section>


<!-- Tabla LGAC: Ingeniería en Sistemas (CAPITULOS) -->
<section class="capitulos-container">
    <h2 class="titulo-capitulos2">Capítulos</h2>

    <table id="tablaCapitulos" class="capitulos-tabla">
        <tbody>
            <tr class="fila-capitulos" onclick="window.open('${urlArticulo}', '_blank')">
                <td>
                    <strong class="titulo-capitulos">Desarrollo de sistema embebido para determinación y estimación de
                        horas-frío mediante modelos de aprendizaje automático.</strong><br>
                    <span class="descripcion-capitulos">• Martínez Rivera, J. A., Barboza Castañeda, E., García Vidaña,
                        N. A., & Guerrero Rivera, R. (2024). Desarrollo de sistema embebido para determinación y
                        estimación de horas-frío mediante modelos de aprendizaje automático. Innovación Social
                        Inclusiva. ISBN 978-607-5893-35-8.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>

            <tr class="fila-capitulos" onclick="window.open('${urlArticulo}', '_blank')">
                <td>
                    <strong class="titulo-capitulos">Viabilidad del uso de biomasa como fuente energética para la
                        automatización de invernaderos.</strong><br>
                    <span class="descripcion-capitulos">• García Vidaña, N. A., Valenzuela Valenzuela, J., Martínez
                        Rivera, J. A., & Acevedo Romero, M. M. (2024). Viabilidad del uso de biomasa como fuente
                        energética para la automatización de invernaderos. Innovación Social Inclusiva. ISBN
                        978-607-5893-35-8.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>
        </tbody>
    </table>
</section>


<!-- Tabla LGAC: Ingeniería en Sistemas (PROYECTOS) -->
<section class="proyectos-container">
    <h2 class="titulo-proyectos2">Proyectos de Investigación</h2>

    <table id="tablaProyectos" class="proyectos-tabla">
        <tbody>
            <tr class="fila-proyectos" onclick="window.open('${urlArticulo}', '_blank')">
                <td>
                    <strong class="titulo-proyectos">Análisis de la evolución física de la cebolla blanca mediante
                        segmentación semántica</strong><br>
                    <span class="descripcion-proyectos">• Análisis cronológico de las características físicas de la
                        cebolla blanca mediante imágenes y redes de segmentación semántica Rubén Guerrero Rivera, Norma
                        Alicia García Vidaña, José Antonio Martínez Rivera, Gustavo Morán Soto. TecNM IT19E482.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>
        </tbody>
    </table>
</section>


<!-- Producción LGAC:  Instrumentación y Bioelectrónica (ARTICULOS) -->
<section class="articulos-container">
    <h2 class="h2Productividad">LGAC: Instrumentación y Bioelectrónica</h2>
    <h2 class="titulo-articulos">Artículos</h2>

    <table id="tablaArticulos2" class="articulos-tabla">
        <tbody>
            <tr class="fila-articulo" onclick="window.open('${urlArticulo}', '_blank')">
                <td>
                    <strong class="titulo-articulo">Aplicación de visión artificial y deep learning para el análisis de
                        calidad del semen criogenizado en ganado vacuno con fines reproductivos.</strong><br>
                    <span class="descripcion-articulo">
                        • Morales Silva, C. E., Guerrero Rivera, R., Castillo Liñan, A., García Vidaña, N. A., &
                        González Muñoz, J. E. (2024). Aplicación de visión artificial y deep learning para el análisis
                        de calidad del semen criogenizado en ganado vacuno con fines reproductivos. Número Especial de
                        la Revista Aristas: Investigación Básica y Aplicada, 11(19). ISSN 2007-9478.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>

            <tr class="fila-articulo" onclick="window.open('${urlArticulo}', '_blank')">
                <td>
                    <strong class="titulo-articulo">Análisis del efecto de agitación en una fermentación alcohólica por
                        Pichia fermentans mediante modelizado mecanicista.</strong><br>
                    <span class="descripcion-articulo">
                        • García Alcantar, I. A., Salazar Muñoz, Y., Valle Trujillo, P. A., Soto Cruz, N. O., & Páez
                        Lerma, J. B. (2024). Análisis del efecto de agitación en una fermentación alcohólica por Pichia
                        fermentans mediante modelizado mecanicista. Pistas Educativas, 45.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>
        </tbody>
    </table>
</section>

<!-- Producción LGAC:  Instrumentación y Bioelectrónica (CAPITULOS) -->
<section class="capitulos-container">
    <h2 class="titulo-capitulos2">Capítulos</h2>

    <table id="tablaCapitulos2" class="capitulos-tabla">
        <tbody>
            <tr class="fila-capitulos" onclick="window.open('${urlArticulo}', '_blank')">
                <td>
                    <strong class="titulo-capitulos"></strong><br>
                    <span class="descripcion-capitulos"></span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>
        </tbody>
    </table>
</section>

<!-- Producción LGAC:  Instrumentación y Bioelectrónica (PROYECTOS) -->
<section class="proyectos-container">
    <h2 class="titulo-proyectos2">Proyectos de Investigación</h2>

    <table id="tablaProyectos2" class="proyectos-tabla">
        <tbody>
            <tr class="fila-proyectos" onclick="window.open('${urlProyecto}', '_blank')">
                <td>
                    <strong class="titulo-proyectos"></strong><br>
                    <span class="descripcion-proyectos"></span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>
        </tbody>
    </table>
</section>

<!-- LGAC: Desarrollo y Gestión de Proyectos de Ingeniería para el Desarrollo Regional (ARTICULOS) -->
<section class="articulos-container">
    <h2 class="h2Productividad">LGAC: Desarrollo y Gestión de Proyectos de Ingeniería para el Desarrollo Regional</h2>
    <h2 class="titulo-articulos">Artículos</h2>

    <table id="tablaArticulos3" class="articulos-tabla">
        <tbody>
            <tr class="fila-articulo" onclick="window.open('${urlProyecto}', '_blank')">
                <td>
                    <strong class="titulo-articulo">The Participation of Women in the Rural Tourism Restaurant
                        Industry</strong><br>
                    <span class="descripcion-articulo">• Iván González Lazalde, Juana Hernández-Chavarría, María
                        Quetzalcihuatl Galván-Ismael (2024) Local Flavor, Regional Impact: The Participation of Women in
                        the Rural Tourism Restaurant Industry. International Journal of Social Science and Human. ISSN
                        (print): 2644-0679, ISSN (online): 2644-0695 Volume 07 Issue 10 October 2024 DOI:
                        10.47191/ijsshr/v7-i10-13, Impact factor- 7.876 Page No: 7455-7466.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>

            <tr class="fila-articulo" onclick="window.open('${urlProyecto}', '_blank')">
                <td>
                    <strong class="titulo-articulo">Análisis de la trayectoria de la política de Ciencia y tecnología en
                        el estado de Durango</strong><br>
                    <span class="descripcion-articulo">• Arturo Abdiel Ibarra Bravo, Juana Hernández-Chavarría, María
                        Quetzalcihuatl Galván-Ismael (2024) Análisis de la trayectoria de la política de Ciencia y
                        tecnología en el estado de Durango, Advances in Engineering and innovation Vol. 9, No. 19, ISSN:
                        2448-685X Enero-Junio 2024.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>

            <tr class="fila-articulo" onclick="window.open('${urlProyecto}', '_blank')">
                <td>
                    <strong class="titulo-articulo">Apicultura y Economía Circular como ventaja competitiva en los
                        municipios de Nuevo Ideal y Canatlán en el Estado de Durango</strong><br>
                    <span class="descripcion-articulo">• Lechuga-Nevárez, M. del Rayo (2024). Apicultura y Economía
                        Circular como ventaja competitiva en los municipios de Nuevo Ideal y Canatlán en el Estado de
                        Durango, México. Revista de Geografía Agrícola, (72), 1-23.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>

            <tr class="fila-articulo" onclick="window.open('${urlProyecto}', '_blank')">
                <td>
                    <strong class="titulo-articulo">Liderazgo de la mujer rural y la actividad agrícola en las
                        comunidades rurales</strong><br>
                    <span class="descripcion-articulo">• Lechuga-Nevárez, Mayela del Rayo, Galván-Ismael, María
                        Quetzalcihuatl, González-Lazalde e Iván (2024). Liderazgo de la mujer rural y la actividad
                        agrícola en las comunidades rurales. Revista del Centro de Graduados e Investigación Instituto
                        Tecnológico de Mérida, ISSN-0185-6294 Año XXXIX Núm. 107. pp. 203-206.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>
        </tbody>
    </table>
</section>

<!-- LGAC: Desarrollo y Gestión de Proyectos de Ingeniería para el Desarrollo Regional (CAPITULOS) -->
<section class="capitulos-container">
    <h2 class="titulo-capitulos2">Capítulos</h2>

    <table id="tablaCapitulos3" class="capitulos-tabla">
        <tbody>
            <tr class="fila-capitulos" onclick="window.open('${urlCapitulo}', '_blank')">
                <td>
                    <strong class="titulo-capitulos">Análisis de la competitividad y sustentabilidad en empresas
                        gastro-hoteleras de la ciudad de victoria de durango</strong><br>
                    <span class="descripcion-capitulos">• Ángel Emmanuel Velázquez García, Arturo Soto Cabral , Roberto
                        Rojero Jiménez , Juana Hernández Chavarría , Mayela del Rayo Lechuga Névarez (2024). Análisis de
                        la competitividad y sustentabilidad en empresas gastro-hoteleras de la ciudad de victoria de
                        durango. Libro: innovación sin límites transformando la empresa para el futuro.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>

            <tr class="fila-capitulos" onclick="window.open('${urlCapitulo}', '_blank')">
                <td>
                    <strong class="titulo-capitulos">El desempeño laboral en relación con la capacitación</strong><br>
                    <span class="descripcion-capitulos">• Quiñones Flores Paulina & Lechuga-Nevárez, MDR. (2024).
                        “Innovación sin límites. Transformando empresas para el futuro”. El desempeño laboral en
                        relación con la capacitación. Editorial: Red Iberoamericana de Academias de Investigación, A.C.
                        ISBN 978-607-5893-28-0. PP. 179 -187.</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>
        </tbody>
    </table>
</section>

<!-- LGAC: Desarrollo y Gestión de Proyectos de Ingeniería para el Desarrollo Regional (PROYECTOS) -->
<section class="proyectos-container">
    <h2 class="titulo-proyectos2">Proyectos de Investigación</h2>

    <table id="tablaProyectos3" class="proyectos-tabla">
        <tbody>
            <tr class="fila-proyectos" onclick="window.open('${urlProyecto}', '_blank')">
                <td>
                    <strong class="titulo-proyectos">• Habilidades blandas en docentes del Instituto Tecnológico de
                        Durango</strong><br>
                    <span class="descripcion-proyectos">• Habilidades blandas en docentes del Instituto Tecnológico de
                        Durango, Mayela del Rayo Lechuga Nevárez, Clave de registro: TF-DGO-PIE-2024-390)</span>
                </td>
            </tr>
            <tr class="espacio separator"></tr>
        </tbody>
    </table>
</section>

<!-- Tabla LGAC: Desarrollo de Tecnología e Innovación (ARTICULOS) -->
<section class="articulos-container">
    <h2 class="h2Productividad">LGAC: Desarrollo de Tecnología e Innovación</h2>
    <h2 class="titulo-articulos">Artículos</h2>

    <table id="tablaArticulos4" class="articulos-tabla">
        <tbody>
            <tr class="fila-articulo" onclick="window.open('${urlArticulo}', '_blank')">
            <td>
                <strong class="titulo-articulo"></strong><br>
                <span class="descripcion-articulo"></span>
            </td>
        </tr>
        <tr class="espacio separator"></tr>
        </tbody>
    </table>
</section>

<!-- Tabla LGAC: Desarrollo de Tecnología e Innovación (CAPÍTULOS) -->
<section class="capitulos-container">
    <h2 class="titulo-capitulos2">Capítulos</h2>

    <table id="tablaCapitulos4" class="capitulos-tabla">
        <tbody>
            <tr class="fila-capitulos" onclick="window.open('${urlCapitulo}', '_blank')">
            <td>
                <strong class="titulo-capitulos"></strong><br>
                <span class="descripcion-capitulos"></span>
            </td>
        </tr>
        <tr class="espacio separator"></tr>
        </tbody>
    </table>
</section>

<!-- Tabla LGAC: Desarrollo de Tecnología e Innovación (PROYECTOS) -->
<section class="proyectos-container">
    <h2 class="titulo-proyectos2">Proyectos de Investigación</h2>

    <table id="tablaProyectos4" class="proyectos-tabla">
        <tbody>
            <tr class="fila-proyectos" onclick="window.open('${urlProyecto}', '_blank')">
            <td>
                <strong class="titulo-proyectos"></strong><br>
                <span class="descripcion-proyectos"></span>
            </td>
        </tr>
        <tr class="espacio separator"></tr>
        </tbody>
    </table>
</section>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>
