
/* Estilos de Cohorte Generacional */

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
}

.about-image img {
    margin-top: 160px;
    max-width: 230px;
    height: auto;
    display: block;
    object-fit: contain;
    margin-left: -808px;
}

h2 {
    font-size: 2rem;
    color: #000;
    margin: 0;
    text-align: center !important;
    margin-left: -143px;
}

.cohorte-generacional {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;
}

.contenido-cohorte {
    margin-top: -130px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.tabla-imagenes {
    margin-top: -160px;
    border-collapse: collapse;
    width: 65%;
    max-width: 90%;
    text-align: center;
    table-layout: fixed;
    margin-left: 210px;
}

.titulo-cohorte {
    font-size: 1.3rem;
    padding: 20px 0;
}

.imagen-cohorte {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.espacio td {
    height: 70px;
}


/*****************************/
/******RESPONSIVE DESIGN******/
/*****************************/

/* Teléfonos medianos (≤ 576px) */
@media screen and (max-width: 576px) {
    h2 {
        font-size: 1.6rem;
        margin-left: 10px;
        margin-bottom: -50px;
    }

    .contenido-cohorte {
        flex-direction: column;
    }

    .about-image {
        margin-top: 140px;
    }

    .about-image img {
        margin-top: 40px;
        max-width: 200px; 
    }

    .tabla-imagenes {
        margin-left: 0px;
    }
}

/* Tablets verticales (≤ 768px) */
@media screen and (max-width: 768px) {
    .contenido-cohorte {
        flex-direction: column;
    }

    h2 {
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: -50px;
    }

    .tabla-imagenes {
        margin-top: 60px;
        margin-left: 0px;
    }

    .about-image {
        margin-top: 140px;
    }

    .about-image img {
        margin-top: 40px;
        max-width: 200px; 
    }
}

/* Tablets horizontales / pantallas medianas (≤ 992px) */
@media screen and (max-width: 992px) {
    .contenido-cohorte {
        flex-direction: column;
    }

    h2 {
        font-size: 1.8rem;
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: -50px;
    }

    .about-image {
        margin-top: 160px;
    }

    .about-image img {
        margin-top: 40px;
        max-width: 200px; 
    }

    .tabla-imagenes {
        margin-top: 60px;
        margin-left: 0px;
    }
}

/* Laptops pequeñas (≤ 1200px) */
@media screen and (max-width: 1200px) {
    .contenido-cohorte {
        flex-direction: column;
    }

    h2 {
        font-size: 1.8rem;
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: -50px;
    }

    .about-image {
        margin-top: 160px;
    }

    .about-image img {
        align-items: center !important;
        margin-top: 40px;
        max-width: 200px; 
    }

    .tabla-imagenes {
        align-items: center;
        margin-top: 60px;
        margin-left: 0px;
        width: 95%;
    }
}

/* -------------------- */
/* Estilos Responsivos */
/* -------------------- */

/* Tablets (Menos de 1024px) */
@media screen and (max-width: 1024px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-image {
        margin-left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-image img {
        max-width: 180px;
        display: block;
        margin: 0 auto;
    }

    .about-text {
        text-align: center;
    }
}

/* Teléfonos (Menos de 768px) */
@media screen and (max-width: 768px) {
    .about-section {
        padding: 30px 15px;
    }

    .about-container {
        text-align: center;
    }

    .about-image {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-image img {
        margin-left: 0;
        max-width: 150px;
        display: block;
        margin: 0 auto;
    }

    .about-text h2 {
        font-size: 1.8rem;
    }

    .about-text p {
        font-size: 1.1rem;
    }
}

/* Imagenes (Gráficas) */
@media (max-width: 768px) {
    .about-imageGrafica img {
        width: 100%;
        max-width: 100%;
    }
}
