<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>


<!-- Cohorte Generacional -->
<section class="cohorte-generacional">
    <div class="contenido-cohorte">
        <div class="about-image">
            <img src="assets/MI_hd.png" alt="Descripción de la imagen">
        </div>
        <h2>Cohorte Generacional</h2>
    </div>

    <table id="tabla1" class="tabla-imagenes">
        <thead>
            <tr>
                <th class="titulo-cohorte">Matrícula</th>
            </tr>
            <tr>
                <td><img src="assets/matricula.jpg" class="imagen-cohorte"></td>
            </tr>
            <tr>
                <th class="titulo-cohorte">Eficiencia Terminal</th>
            </tr>
            <tr>
                <td><img src="assets/eficienciaTerminal.jpg" class="imagen-cohorte"></td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</section>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>
