
<!-- Logos Oficiales -->
<section class="imagenes-container">
    <a href="https://www.gob.mx/sep" target="_blank" rel="noopener noreferrer">
        <img src="assets/SEP_Logo.png" alt="SEP Logo" class="img-sep">
    </a>

    <div class="separatorLogos"></div>

    <a href="https://tecnm.mx/" target="_blank" rel="noopener noreferrer">
        <img src="assets/Logo-TecNM.png" alt="TecNM Logo" class="img-tecnm">
    </a>

    <div class="separatorLogos"></div>

    <a href="https://www.itdurango.edu.mx/" target="_blank" rel="noopener noreferrer">
        <img src="assets/escudo.png" alt="Escudo ITDurango" class="img-escudo">
    </a>

    <!-- Contenedor de iconos a la derecha -->
    <div class="iconos-container">
        <div class="icono-circle">
            <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">
                <img src="assets/sobreCorreo.png" alt="Correo" class="icono" top="-5px">
            </a>
        </div>
        <div class="icono-circle search-container">
            <i class="fa-solid fa-magnifying-glass" style="font-size: 17px;"></i>
            <input type="text" class="search-bar" placeholder="Buscar...">
        </div>
    </div>
</section>