<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>


<!-- Localización del Programa -->
<section class="about-section">
    <div class="about-container">
        <div class="about-image">
            <img src="assets/MI_hd.png" alt="Descripción de la imagen">
        </div>
        <div class="about-text">
            <h2>Localización del Programa</h2>
            <p>
                <strong>Sede Principal:</strong> Instituto Tecnológico de Durango (ITD).
            </p>
            <p>
                <strong>Subsede:</strong> Instituto Tecnológico del Valle del Guadiana (ITVG).
            </p>
            <p>
                El Programa de Maestría en Ingeniería es ofertado en el edificio de la Unidad de Posgrado,
                Investigación y Desarrollo Tecnológico, UPIDET, ubicado en el área norte del Instituto Tecnológico
                de Durango y en las instalaciones de la subsede del Programa en el Instituto Tecnológico del Valle
                del Guadiana.
            </p>
        </div>
    </div>
</section>


<!-- Mapas -->
<div class="map-container">
    <!-- Mapa ITD -->
    <div class="map">
        <h3>Instituto Tecnológico de Durango (ITD)</h3>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3643.9546624418613!2d-104.64936282446304!3d24.03266387788115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869bb7c4a8a1b419%3A0x540db05b84d37014!2sInstituto%20Tecnol%C3%B3gico%20De%20Durango!5e0!3m2!1ses!2smx!4v1738219441096!5m2!1ses!2smx"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>

    <!-- Mapa ITVG -->
    <div class="map">
        <h3>Instituto Tecnológico del Valle del Guadiana (ITVG)</h3>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.5976850206257!2d-104.44704862446356!3d24.00997987876095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869ba568a1c0538d%3A0x3f1333af48af233c!2sInstituto%20Tecnol%C3%B3gico%20Del%20Valle%20Del%20Guadiana!5e0!3m2!1ses!2smx!4v1738219894253!5m2!1ses!2smx"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>
