<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>


<!-- Contacto -->
    <section class="about-section">
        <div class="about-container">
            <div class="about-image">
                <img src="assets/MI_hd.png" alt="Descripción de la imagen">
            </div>
            <div class="about-text">
                <h2>Contacto</h2>
                <h3>Nuestras Instalaciones:</h3>
                <p>
                    Las instalaciones del Programa de Maestría en Ingeniería se encuentran en el edificio de 
                    la Unidad de Posgrado, Investigación y Desarrollo Tecnológico (UPIDET), ubicado en zona 
                    norte del Instituto Tecnológico de Durango, entre el Blvd. Felipe Pescador y el Blvd. Tecnológico.
                </p>
                <!-- Tabla Contacto -->
                <!-- Tabla Contacto -->
                <table id="tabla1" class="study-plan-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Puesto</th>
                            <th>Correo Electrónico</th>
                            <th>Teléfono</th>
                        </tr>
                        <tr>
                            <td>Dra. Norma Alicia García Vidaña</td>
                            <td>Coordinador del Posgrado</td>
                            <td>norma.garcia&#64;itdurango.edu.mx</td>
                            <td>(618) 325 74 67</td>
                        </tr>
                        <tr>
                            <td>Dr. Josué Ortiz Medina</td>
                            <td>Presidente del Consejo de Profesores del Posgrado</td>
                            <td>mping&#64;itdurango.edu.mx</td>
                            <td>(618) 325 74 67</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>
