<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>


<!-- Requisitos para la obtención del grado académico -->
<section class="about-section">
    <div class="about-container">
        <div class="about-image">
            <img src="assets/muchachoAmarillo.jpg" alt="Descripción de la imagen">
        </div>
        <div class="about-text" id="requisitos-container">
            <h2>Requisitos para la obtención del grado académico</h2>
            <p>• Aprobar la totalidad de créditos del programa.</p>
            <p>• Publicar al menos un trabajo técnico-científico de carácter nacional/internacional o en una revista
                arbitrada.</p>
            <p>• Elaboración y defensa de tesis ante un jurado compuesto por miembros del consejo del posgrado.</p>
            <p>• Demostrar dominio del idioma ingles (TOEFL - 500, IELTS - 4.5 o equivalente).</p>
        </div>
    </div>
</section>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>
