<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>

<!-- Requisitos para la obtención del grado académico -->
<section class="about-section">
  <div class="about-container">
    <div class="about-image">
      <img src="assets/muchachoAmarillo.jpg" alt="Requisitos de grado académico">
    </div>

    <div class="about-text" id="requisitos-container">
      <h2>Requisitos para la obtención del grado académico</h2>

      <!-- Lista dinámica -->
      <ul *ngIf="requisitos.length > 0; else sinDatos">
        <li *ngFor="let req of requisitos">
          {{ req.descripcion }}
        </li>
      </ul>

      <ng-template #sinDatos>
        <p>No hay requisitos registrados actualmente.</p>
      </ng-template>
    </div>
  </div>
</section>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>
