
<!-- Footer Maestría en Ingeniería -->
<footer class="footer-maestria">
    <div class="footer-containerMaestria">
        <div class="footer-sectionMaestria">
            <h3>Instituto Tecnológico de Durango</h3>
            <p>Blvd. Felipe Pescador 1830 Ote. Durango, Dgo.</p>
            <p>mping&#64;itdurango.edu.mx</p>
            <p>Tel. 618 325 7467</p>
        </div>
        <div class="footer-sectionMaestria">
            <h3>Instituto Tecnológico del Valle del Guadiana</h3>
            <p>Km. 22.5 Carretera Durango-México C.P. 34371</p>
            <p>Tel. 618 596 3051 y 618 596 3052</p>
        </div>
        <div class="footer-sectionMaestria">
            <h3>Síguenos</h3>
            <!-- Sección de Redes Sociales -->
            <p>
                <a href="https://www.facebook.com/people/Maestr%C3%ADa-en-Ingenier%C3%ADa/100083043137110/"
                    target="_blank" class="footer-linkMaestria">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.youtube.com/@gobiernodemexico" target="_blank" class="footer-linkMaestria">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://www.instagram.com/gobmexico/" target="_blank" class="footer-linkMaestria">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
