<!-- Footer Maestría en Ingeniería -->
<footer class="footer-maestria">
    <div class="footer-containerMaestria">
        <div class="footer-sectionMaestria">
            <h3>Instituto Tecnológico de Durango</h3>
            <p>Blvd. Felipe Pescador 1830 Ote. Durango, Dgo.</p>
            <p>mping&#64;itdurango.edu.mx</p>
            <p>Tel. 618 325 7467</p>
        </div>
        <div class="footer-sectionMaestria">
            <h3>Instituto Tecnológico del Valle del Guadiana</h3>
            <p>Km. 22.5 Carretera Durango-México C.P. 34371</p>
            <p>Tel. 618 596 3051 y 618 596 3052</p>
        </div>
        <div class="footer-sectionMaestria">
            <h3>Síguenos</h3>
            <!-- Sección de Redes Sociales -->
            <p>
                <a href="https://www.facebook.com/people/Maestr%C3%ADa-en-Ingenier%C3%ADa/100083043137110/"
                    target="_blank" class="footer-linkMaestria">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="https://www.youtube.com/@gobiernodemexico" target="_blank" class="footer-linkMaestria">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://www.instagram.com/gobmexico/" target="_blank" class="footer-linkMaestria">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </p>
        </div>
    </div>
    <!-- Flecha hacia arriba -->
    <a class="btn btn-outline-light btn-floating m-1 arrow-up"
        href="javascript:window.scrollTo({ top: 0, behavior: 'smooth' });" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
        </svg>
    </a>
</footer>