<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>


<!-- Sección de tablas -->
<section class="about-section">
    <div class="about-container">
        <div class="about-image">
            <img src="assets/MI_hd.png" alt="Descripción de la imagen">
        </div>
        <div class="about-text">
            <h2>Síntesis del Plan de Estudios</h2>
            <h3>Maestría con Orientación Profesional</h3>

            <!-- Tabla Maestría con Orientación Profesional -->
            <table id="tabla1" class="study-plan-table">
                <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Créditos</th>
                    </tr>
                    <tr>
                        <td>Asignaturas*</td>
                        <td>48</td>
                    </tr>
                    <tr>
                        <td>Seminario I-II-III</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Tesis</td>
                        <td>40</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- Distribución de Asignaturas -->
            <h3>Distribución de Asignaturas</h3>
            <table id="tabla2" class="study-plan-table">
                <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Créditos</th>
                    </tr>
                    <tr>
                        <td>Básica I</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Básica II</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Básica III</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Básica IV</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Optativa I</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Optativa II</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Optativa III</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Optativa IV</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Seminario I</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Seminario II</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Seminario III</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Seminario IV</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Tesis</td>
                        <td>40</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- Asignaturas Básicas -->
            <h3>Asignaturas Básicas</h3>
            <table id="tabla3" class="study-plan-table">
                <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Créditos</th>
                    </tr>
                    <tr>
                        <td>Matemáticas Aplicadas a la Ingeniería</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Modelado Matemático</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Estadística Aplicada en Diseño de Experimentos</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Innovación y Sustenabilidad en la Ingeniería</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Sistemas Digitales para el Procesamiento de Señales</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Sistemas Electrónicos de Instrumentación y Control</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Programación</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Ingeniería en Calidad y Manufactura</td>
                        <td>6</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <!-- Asignaturas Optativas -->
            <h3>Asignaturas Optativas</h3>
            <table id="tabla4" class="study-plan-table">
                <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Créditos</th>
                    </tr>
                    <tr>
                        <td>Control Inteligente</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Redes Neuronales</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Control de Robots Manipuladores</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Análisis y Diseño de Experimentos</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Sistemas de Automatización</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Control Electrónico de Potencia</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Diseño de Sistemas Digitales Avanzados</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Instrumentación y Adquisición de Datos</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Procesamiento Digital de Señales</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Instrumentación Optoelectrónica</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Procesamiento Digital de Imágenes</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Instrumentación Biomédica I</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Instrumentación Biomédica II</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Mediciones Biológicas</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Transferencia de Masa y de Calor Avanzado</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Nanosensores</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Visión Artificial</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Reconocimiento de Patrones</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Robótica y Automatización</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Polímeros y Biomateriales</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Fundamentos de Nanotecnología</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Introducción a los Polímeros</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Diseño de Experimentos</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Evaluación del Impacto Ambiental</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Procesos Biológicos del Medio Ambiente</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Fisiología Celular y Bioquímica Médica para Ingenieros</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Temas Selectos I</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Temas Selectos II</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Temas Selectos III</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>Sistemas de Producción y Operaciones</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Administración de la Calidad</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Gestión de Proyectos Logísticos</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Sistemas de Información para la toma de decisiones</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Estrategias para la Competitividad</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Investigación de Operaciones</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Mejoramiento Continuo</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Análisis y Diseño de Producto</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Automatización de Procesos de Manufactura</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Calidad y Competitividad</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Ingeniería de la Productividad</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Materiales para Manufactura</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Procesos de Manufactura</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Sistemas Integrados de Manufactura</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Integración de Aplicaciones Empresariales</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Modelo de Negocios</td>
                        <td>6</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</section>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>
