<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>


<!-- Objetivos Generales y Específicos del Programa -->
<section class="about-section">
    <div class="about-container">
        <div class="about-image">
            <img src="assets/estudiante.jpg" alt="Descripción de la imagen">
        </div>
        <div class="about-text" id="objetivos-container">
            <h2>Objetivos Generales y Específicos del Programa</h2>
            <h3>Objetivo General</h3>
            <p>Formar profesionales con capacidad para generar, aplicar y participar de manera multidisciplinaria en
                proyectos de desarrollo científico y tecnológico con un enfoque sustentable que impacten en la
                solución de problemas regionales y nacionales en el área agroindustrial y de Biosistemas.</p>
            <h3>Objetivos Específicos</h3>
            <p>• Formar recursos humanos con la capacidad de diseñar e implementar soluciones científicas y
                tecnológicas a problemas específicos de la cadena: productores-empresarios-consumidores del área
                agroindustrial y de Biosistemas.</p>
            <p>• Generar proyectos de investigación aplicada para adoptar soluciones a problemas prioritarios,
                enfocados en las demandas de los sectores estratégicos de la región.</p>
            <p>• Generar proyectos de vinculación para aumentar la eficiencia en los procesos relacionados con las
                energías renovables, contaminación ambiental y problemas de producción y calidad que impactan en el
                área agroindustrial.</p>
            <p>• Desarrollar, implementar y administrar proyectos de investigación y desarrollo tecnológico en el
                área de ingeniería de manera original e innovadora con aplicaciones en el sector productivo.</p>
            <p>• Fortalecer las habilidades de comunicación oral y escrita, a través de la participación en
                proyectos de vinculación con la agroindustria, así como la elaboración de documentos
                técnico-científico y tesis.</p>
        </div>
    </div>
</section>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>
