<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>


<!-- Perfil de Ingreso y Egreso -->
<section class="about-section">
    <div class="about-container">
        <div class="about-image">
            <img src="assets/imagen5.jpg" alt="Descripción de la imagen">
        </div>
        <div class="about-text">
            <!-- Perfil Ingreso -->
            <h2>Perfil de Ingreso</h2>
            <p>La Maestría en Ingeniería demanda el dominio de varias áreas del conocimiento,
                entre las cuales destacan, Computación, Matemáticas, Física, Biología, etc. Esta variedad de áreas
                del conocimiento abre la posibilidad de ingreso a aspirantes de diferentes áreas de la ingeniería,
                de las ciencias de la vida y exactas.
            </p>
            <p>En este sentido, el perfil para ingresar al programa de Maestría en Ingeniería
                está dirigido, pero no limitado a: Ingenieros Agrónomos, Biólogos, Ingenieros Forestales, Ingenieros
                Industriales, Ingenieros Electrónicos y Eléctricos, Ingenieros Mecatrónicos, Ingenieros en Sistemas
                Computacionales, Ingenieros en Gestión Empresarial, Licenciados en Matemáticas, Físico Matemáticas,
                Ingenieros en Robótica, Ingenieros Ambientalistas y otros relacionados con campos afines de la
                ingeniería.
            </p>

            <!-- Perfil Egreso -->
            <h2>Perfil de Egreso</h2>
            <p>• Será capaz de ofrecer consultoría a problemas relacionados con el sector
                productivo de interés.
            </p>
            <p>• Podrá aplicar la normatividad vigente para lo solución de los problemas de los
                sectores de productivos agroindustriales.
            </p>
            <p>• Tendrá la posibilidad de cursar el nivel de doctorado al final de sus estudios de
                maestría.
            </p>
            <p>• Podrá aplicar el concepto de Estado del Arte de Ingeniería para la solución de
                necesidades del entorno productivo, social y ambiental, propiciando un desarrollo sustentable.
            </p>
            <p>• Será capaz de validar y transferir tecnologías al sector productivo
                agroindustrial con la finalidad de aumentar la eficiencia de sus procesos.
            </p>
            <p>• Tendrá la capacidad de gestionar, dirigir y asesorar proyectos productivos y de
                investigación y desarrollo tecnológico, para la captación de recursos humanos y económicos en las
                organizaciones y empresas involucradas.
            </p>
        </div>
    </div>
</section>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>
