<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>

<section class="about-section">
    <div class="about-container" id="requisitos-container">

        <div class="about-image">
            <img src="assets/estudiante2.jpg" alt="Ingreso al programa">
        </div>

        <div class="about-text">
            <h2>Requisitos y antecedentes académicos de ingreso de los candidatos</h2>

            <!-- Antecedentes -->
            <h3 class="centrado">Antecedentes</h3>
            <p *ngFor="let item of antecedentes">
                • {{ item.descripcion }}
            </p>

            <!-- Requisitos -->
            <h3 class="centrado">Requisitos</h3>
            <p>
                Los alumnos que soliciten ingreso al programa deberán de cubrir la fase de selección que incluye los
                siguientes puntos:
            </p>
            <p *ngFor="let item of requisitos">
                • {{ item.descripcion }}
            </p>

            <!-- Selección -->
            <h3 class="centrado">Proceso de Selección de Aspirantes</h3>
            <p *ngFor="let item of seleccion">
                • {{ item.descripcion }}
            </p>

            <p>Los conocimientos básicos del área son evaluados mediante el examen de admisión EXANI III y examen del
                posgrado. Estos exámenes cubren aspectos de conocimientos básicos a nivel licenciatura.<br>
                <br>
                Las actitudes y aptitudes de los aspirantes son medidas mediante una entrevista personal que el consejo
                realiza a los candidatos. Es a través de este proceso en donde se detectan los intereses de
                investigación y/o desarrollo de los aspirantes, así como cualidades que no pudieran ser detectadas por
                los exámenes de admisión.<br>
                <br>
                Mediante los exámenes TOEFL y IELTS (o equivalentes) se mide la capacidad de hablar, escuchar, leer y
                escribir en inglés de los aspirantes. Aunque tanto el TOEFL como el IELTS son los exámenes de inglés más
                comunes, también se aceptan pruebas de inglés de otros organismos evaluadores tales como los exámenes de
                la Universidad de Cambridge (First, etc.).</p>

            <!-- URLs -->
            <h3>Consultar Convocatoria:</h3>
            <div class="button-container" *ngIf="urls[0]">
                <a class="redirect-button" [href]="urls[0].descripcion" target="_blank" rel="noopener noreferrer">
                    Consultar Convocatoria
                </a>
            </div>

            <h3>Consultar Solicitud Nuevo Ingreso:</h3>
            <div class="button-container" *ngIf="urls[1]">
                <a class="redirect-button" [href]="urls[1].descripcion" target="_blank" rel="noopener noreferrer">
                    Solicitud Nuevo Ingreso
                </a>
            </div>
        </div>
    </div>
</section>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>