<app-navbar-gob></app-navbar-gob>
<app-logos></app-logos>
<app-navbar-tec></app-navbar-tec>


<!-- Requisitos y antecedentes académicos de ingreso de los candidatos -->
<section class="about-section">
    <div class="about-container" id="requisitos-container">
        <div class="about-image">
            <img src="assets/estudiante2.jpg" alt="Descripción de la imagen">
        </div>
        <div class="about-text">
            <h2>Requisitos y antecedentes académicos de ingreso de los candidatos</h2>
            <!-- Sección 1 -->
            <h3 class="centrado">Antecedentes</h3>
            <p>• Acreditar haber presentado su examen profesional para la obtención del título de licenciatura.</p>
            <p>• Contar con un promedio mínimo de 80 en la licenciatura.</p>
            <p>• Presentar evidencias de dominio del inglés (TOEFL (400), IELTS (4.0) o equivalentes).</p>

            <!-- Sección 2 -->
            <h3 class="centrado">Requisitos</h3>
            <p>Los alumnos que soliciten ingreso al programa deberán de cubrir la fase de selección que incluye los
                siguientes puntos:</p>
            <p>• Llenar la solicitud de ingreso al programa.</p>
            <p>• Presentar dos cartas de recomendación avaladas por profesionistas con experiencia.</p>
            <p>• Pagar la cuota de inscripción al examen EXANI III.</p>
            <p>• Presentar el examen de admisión EXANI III.</p>
            <p>• Presentar el examen de admisión del posgrado.</p>
            <p>• Entrevista ante el consejo de la maestría.</p>
            <p>• Firmar la carta compromiso con el programa.</p>

            <!-- Sección 3 -->
            <h3 class="centrado">Proceso de Selección de Aspirantes</h3>
            <p>La selección de estudiantes se basa en la evaluación de 3 aspectos básicos:</p>
            <p>• Conocimientos básicos del área.</p>
            <p>• Actitudes y aptitudes de los aspirantes.</p>
            <p>• Dominio del inglés.</p>
            <p>Los conocimientos básicos del área son evaluados mediante el examen de admisión EXANI III
                y examen del posgrado. Estos exámenes cubren aspectos de conocimientos básicos a nivel licenciatura.
            </p>
            <p>Las actitudes y aptitudes de los aspirantes son medidas mediante una entrevista personal que el
                consejo realiza a los candidatos. Es a través de este proceso en donde se detectan los intereses de
                investigación y/o desarrollo de los aspirantes, así como cualidades que no pudieran ser detectadas
                por los exámenes de admisión.</p>
            <p>Mediante los exámenes TOEFL y IELTS (o equivalentes) se mide la capacidad de hablar, escuchar, leer y
                escribir en inglés de los aspirantes. Aunque tanto el TOEFL como el IELTS son los exámenes de inglés
                más comunes, también se aceptan pruebas de inglés de otros organismos evaluadores tales como los
                exámenes de la Universidad de Cambridge (First, etc.).</p>

            <h3>Consultar Convocatoria:</h3>
            <!-- Botón de Consultar Convocatoria -->
            <div class="button-container">
                <a href="https://drive.google.com/file/d/1Kl7zjiLTmIlfWQuFOVZNgoTeKAIOSrXv/view" class="redirect-button"
                    target="_blank" rel="noopener noreferrer">Consultar Convocatoria
                </a>
            </div>

            <h3>Consultar Solicitud Nuevo Ingreso:</h3>
            <!-- Botón de Formulario Solicitud Nuevo Ingreso -->
            <div class="button-container">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSckFvjUTxNXqQFq-KZtMv629P6uqE_uqRCsZxkCuhOSfDaiYw/viewform"
                    class="redirect-button" target="_blank" rel="noopener noreferrer">Solicitud Nuevo Ingreso
                </a>
            </div>
        </div>
    </div>
</section>

<app-footer-tec></app-footer-tec>
<app-footer-gob></app-footer-gob>
